.app {
  height: 100vh;
  width: 100vw;
}
.header{
  width: 100%;
  height: 15%;
  margin: 0;
  border-bottom: 1px solid black;
}
.header h1{
  margin-top: 0%;
  font-size: 3.2em;
}
.login-button-container{
  width: 90%;
  height: 90%;
  margin: 0 auto;
  margin-top: 15%;
}
.login, .signup{
  display: block;
  width: 25%;
  margin: 0 auto;
  margin-top: 3%;
  font-weight: 700;
}
.interviewer-signup{
  margin-top: 5%;
}
.in{
  margin-left: none;
  margin: 0 auto;
  margin-top: 4%;
  float: none !important;
}
.in h5{
  display: inline-block;
  margin-right: 3%;
}
.submit-b{
  display: flex;
  margin: 0 auto;
  width: 25%;
  margin-top: 5%;
  text-align-last: center;

}
.drop-down-button{
  height: 40px;
  width: 62px;
}
.icon-display , ion-icon{
  display: flex;
  align-content: center;
  width: 30px;
  height: 30px;
}
.drop-down-list{
  display: none;
  left: 42%;
  top: 53%;
  width: 15%;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.drop-down-list li{
  font-size: 1.4em;
  padding: 1%;
}
.drop-down-list li:hover{
  background-color: rgba(41, 41, 41, 0.8)
}
.hidden{
  visibility: hidden;
}
.info-button{
  display: flex;
  margin: 0 auto;
  margin-top: 10%;
}

/* Modal CSS */
.modal-container-custom{
  z-index: 2;
  position: absolute;
  right:0;
  top:0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.5)
}
.modal-content-custom{
  background-color: white;
  width: 60%;
  height: 60%;
  border: 1px solid black;
  margin: 12%;
  margin-left: 23%;
}
.modal-content-custom h4, h5{
  margin: 5%;
}
.modal-footer-custom{
  width: 100%;
  height: 10%;
  margin: 8%;
  margin-left: 34%;
}
.modal-footer-custom button{
  margin: 2%;
}

/* Nav Logo */

.home-nav-logo{
  font-size: 3.2em;
  margin-left: 2%;
  /* margin-top: 2%; */
}
.icon{
  display: inline-block;
}
.nav-items{
  margin-top: 2%;
  margin-right: 2%;
}
.nav-items li:not(:last-child){
  border-right: 2px solid black;
}

.home-container{
  /* border: 1px solid black; */
  height: 85%;
  width: 100%;
}
.home-inner-container{
  /* border: 1px solid black; */
  height: 95%;
  width: 97%;
  margin: 0 auto;
  margin-top: 1.2%;
}
/* .home-info-container{
  padding:
} */
/* .sort-name-option, .sort-function-option, .sort-status-option{
  width: 10%;
}
.sort-name-option{
  display: inline-block;
}
.sort-function-option{
  display: inline-block;
} */
.names-container, .info-container{
  border: 1px solid black;
  height: 70vh;
  overflow-y: scroll;
}
.info-container{
  border-left: none;
}
.names-container{
  padding: 0 !important;

}
.names{
  border: 1px solid black;
  height: 20%;
  font-size: 1.4em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.names:hover{
  background-color: rgba(0,0,0,.4);
}
.info-header{
  margin-bottom: 0;
}
.name-school h6{
  margin: 0;
}
.pic-class{
  height: 160px;
  width: 160px;
}

.essay *{
  margin: 4%;
}
.s2 .name-school{
  margin-left: 7%;
  margin-left: 0 !important;
}
.name-school{
  font-size: 1.3em;

}
.status-display{
  font-size: 1.3em;
}
.dot-status{
  display: inline-block;
  margin-left: 8%;
  width:12px;
  height: 12px;
  border-radius: 50%;
}
.name-backgroundcolor{
  background-color: rgba(0,0,0,.5);
}
/* .full-name, .school-name, .function-name{
  margin-bottom: 15%;
} */
.search-bar{
  display:none;
  width: 18% !important;
  margin-top: 1% !important;
  margin-bottom: 0 !important;
}

.material-icons{
  margin-top: 1.9%;
  font-size: 2.6em !important;
  cursor: default;
}
.showSearch{
  display:block;
  animation: extend 500ms ease-out;
}
@keyframes extend {
  0% {
    width: 0%;
  }
  100% {
    width: 18%;
  }
}
.no-candidates{
  font-size: 1.6em;
  box-shadow: 0 4px 4px 0;
  text-align: center;
  margin: 0 auto;
  /* display: flex;
  justify-content: center;
  align-content: center; */
  margin-top: 2%;
  height: 100%;
}
.no-candidates div{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: block;
}
.no-candidates button{
  /* position: absolute;
  font-weight: 700; */
}
.dropdown-navlist{
  position: absolute;
  display: none;
  color: white;
  width: 16%;
  right: 0%;
  top: 12.6%;
  font-size: 1.3em;
  text-align: center;
}
.dropdown-navlist li{
  border: 1px solid black;
  width: 100%;
}
.dropdown-link{
  /* padding: 10%; */
  margin-left: 5%;
  /* padding-right: 10%; */
  /* padding-left: 1%; */
  width: 100%;
  color: white;
  font-size: 1.2em;
  /* height: 4%; */
}
.dropdown-link:hover{
  background-color: #89c3fb;
}
.showNav{
  display: block;
}
.hidDiv{
  position:absolute;
  display: none;
}
.showDiv{
  color:#f44336;
  position: absolute;
  display: block;
}
.showCEmail{
  color: rgba(87,175,63,1);
  position: absolute;
  display: block;
}